<h1>ユーザの権限</h1>

<h4>ユーザの権限について</h4>
<p>ユーザの権限は「学生」，「教員」，「管理者」，「システム管理者」の4種類があり，順に高い権限を持ちます．</p>
<p>ユーザの権限の変更は管理画面から行います．</p>

<%= image_tag 'help/admin_user_roles_1.png', :class => 'help-image' %>
<p>管理画面から変更したいユーザを編集します．</p>
<p>権限の項目から，与えたい権限のチェックを入れ，保存します．</p>
<p style='color:red'>注意: 管理者は他の管理者の権限を変更できるため，権限を与える場合は十分注意してください．</p>
