<h1>管理画面</h1>
<p>管理画面に行くためにはヘッダーメニューの「管理画面」を押してください．</p>

<%= image_tag 'help/admin_admin_page_1.png', :class => 'help-image' %>

<h3>管理画面について</h3>
<p>管理画面では，Procsに登録されているデータを閲覧・作成・編集・削除が行えます．</p>
<p>システム管理者はすべての機能を利用できますが，管理者は，一部機能が制限されています．</p>
<%= image_tag 'help/admin_admin_page_2.png', :class => 'help-image' %>

<h4>操作例</h4>
ここではユーザ一覧を例として挙げます．

<h5>ユーザ一覧</h5>
<%= image_tag 'help/admin_admin_page_3.png', :class => 'help-image' %>
<p>Procsに登録されているユーザの一覧を閲覧できます．詳細を確認したり編集する場合は，各ユーザの右側にあるボタンを押してください．</p>
<p style="color:red">注意: データの削除は不整合が起こる場合があるため，注意してください．</p>

<br>
<h5>ユーザ編集</h5>
<%= image_tag 'help/admin_admin_page_4.png', :class => 'help-image' %>
<p>ユーザの一人を編集する画面です．</p>
<p>必要事項を入力した後，下部の「保存」ボタンを押してください．</p>
<p style="color:red">注意: 管理者は，編集機能の一部を制限されています．</p>
