<h1>問題閲覧</h1>
<h3>授業からの問題閲覧</h3>
<p>ログイン後の画面の該当授業の授業名をクリックすると、該当授業の基本情報が表示できます。<br>
基本情報画面には、該当授業の授業名、授業の説明、授業担当教員の氏名及び授業コードが表示されています。</p>

<%= image_tag 'help/student_view_question_0.png', :class => 'help-image' %>

<p>この画面の左上の「問題」タブをクリックすると、該当授業の問題を閲覧できます。</p>

<%= image_tag 'help/student_view_question_1.png', :class => 'help-image' %>

<p>問題一覧画面には、該当授業内の全ての問題のID、問題名、問題の開始時間と終了時間及び結果がひょうじされています。その右に、問題解答と解答詳細閲覧のボタンも設置しています。</p>

<h3>パブリック問題の問題閲覧</h3>

<%= image_tag 'help/student_view_question_2.png', :class => 'help-image' %>

<p>ログイン後の画面のタブバーの「問題」タブをクリックすると、パブリック問題を閲覧できます。
<br>問題一覧画面には、全てのパブリック問題のID、問題名及び結果がひょうじされています。その右に、パブリック問題解答と解答詳細閲覧のボタンも設置しています。</p>