<h1>解答</h1>
<p>問題の解答は問題閲覧画面の該当問題の右の「解答」ボタンから行います。</p>

<%= image_tag 'help/student_answer_0.png', :class => 'help-image' %>

<p>問題詳細画面の一番下のところで、解答投稿エリアが表示しています。</p>

<%= image_tag 'help/student_answer_1.png', :class => 'help-image' %>

<p>(1)使用言語には、Python, C, C++３種類が選択できます。</p>
<p>(2)「参照...」ボタンをクリックし、ディレクトリから解答ファイルを選択します。</p>
<p>(3)「アップロード」ボタンをクリックして解答ファイルのアップロードが完成します。</p>