<h1>解答結果</h1>
<h3>投稿の結果を確認する</h3>
<p>投稿の結果は問題一覧ページで確認できます</p>
<%= image_tag 'help/student_result_1.png', :class => 'help-image' %>
<p>(1)解答を投稿した後、タブバーの「問題」タブまた「問題一覧に戻る」ボタンをクリックし、ページを更新してから結果を確認します。</p>
<p>(2)結果が「pending」の場合、もう一回ページの更新が必要になる。</p>
<h3>問題詳細ページで解答結果を確認する</h3>
<p>問題詳細ページで解答の結果を確認できます</p>
<%= image_tag 'help/student_result_2.png', :class => 'help-image' %>
<h3>解答詳細ページで解答結果を確認する</h3>
<p>解答詳細ページで解答の結果、提出したソースコードを確認できます</p>
<%= image_tag 'help/student_result_3.png', :class => 'help-image' %>
<p>(1)提出したソースコードの評価結果を閲覧できます</p>
<p>(2)各バージョンのファイル名をクリックすると、表示内容を変更します。</p>
