<h1>問題閲覧</h1>
<h3>授業の問題閲覧</h3>
<p>授業ページから「問題」タブをクリックすることでその授業で出題されている問題の一覧を閲覧できます．

<%= image_tag 'help/student_view_question_0.png', :class => 'help-image' %>

<p>問題一覧画面には，授業内の全ての問題名，問題の開始時間と終了時間及び結果が表示されます．</p>

<%= image_tag 'help/student_view_question_1.png', :class => 'help-image' %>

<p>問題名をクリックするとその問題の詳細画面が表示されます．</p>
<p>詳細画面では，その問題の説明や解答における制限等を見ることができます．</p>
<%= image_tag 'help/student_view_question_2.png', :class => 'help-image' %>


<h3>パブリック問題の問題閲覧</h3>

<%= image_tag 'help/student_view_question_3.png', :class => 'help-image' %>

<p>ナビゲーションの「問題」をクリックすると，パブリック問題を閲覧できます．</p>
<p>パブリック問題とは，授業で作成された問題のうちすべての学生に対して公開されている問題です．授業に参加していなくても自由に解答することができますが，授業の成績には残りません．</p>
