<h1>授業参加</h1>
<p>授業参加はログイン後の画面の「授業参加」ボタンから行います．</p>

<%= image_tag 'help/student_attend_lesson_0.png', :class => 'help-image' %>

<p>教員から授業参加用の10桁の授業コードを入力し、「参加」ボタンをクリックすることで授業に参加できます．</p>
<p>参加すると授業ページが表示されます．</p>
