<h1>解答結果</h1>
<h3>問題詳細画面で解答結果を確認する</h3>
<p>問題詳細画面で解答の結果を確認できます．</p>
<%= image_tag 'help/student_result_2.png', :class => 'help-image' %>
<p style="color:red">Acceptになった解答が優先して表示されるため，最新の解答でない可能性があります．すべての解答を見る場合は解答詳細画面を見てください．</p>
<ul>
  <li>実行結果は8種類あります．</li>
  <ul>
    <li>Accept: すべてのテストをパスした</li>
    <li>Wrong Answer: 出力結果が間違っていた(注意: スペースやタブ文字等で出力結果がずれている場合にも表示されます)</li>
    <li>Memory Limited Exceeded: メモリ使用量が制限値を超えた</li>
    <li>Time Limited Exceeded: CPU実行時間が制限値を超えた</li>
    <li>Timeout: 実行可能時間を超えた(無限ループや入力待ち等で処理が停止している場合があります)</li>
    <li>Runtime Error: セグメンテーションフォールト等で不正終了した</li>
    <li>Compile Error: コンパイルに失敗した</li>
    <li>Pending: 実行待ちor実行中</li>
  </ul>
  <li>実行時間およびメモリ使用量はその解答で使用した数値です．</li>
  <li>正解数は実行したテストデータの個数とパスした個数です．</li>
</ul>

<h3>解答詳細画面で解答結果を確認する</h3>
<p>解答詳細画面で解答の結果，提出したソースコードを確認できます．</p>
<%= image_tag 'help/student_result_3.png', :class => 'help-image' %>
<p>各バージョンをクリックするとその内容が表示されます．</p>

<h3>問題一覧画面</h3>
<p>投稿の結果は問題一覧画面でも確認できます．</p>
<p>Acceptになった問題とAcceptになっていない問題がすぐにわかります．</p>
<%= image_tag 'help/student_result_1.png', :class => 'help-image' %>
