<h1>解答</h1>
<p>問題の解答は問題詳細画面下部の解答フォームから行います．</p>

<%= image_tag 'help/student_answer_1.png', :class => 'help-image' %>

<ul>
  <li>使用言語には，LIython, C, C++３種類が選択できます．</li>
  <li>「参照」ボタンをクリックし，解答ファイルを選択します．</li>
  <li>「アップロード」ボタンをクリックすることで解答が行われます．</li>
  <li>数分以内に自動実行が行われ，結果が得られます．ページを更新するか解答詳細ページを確認してください．</li>
</ul>
