<h1>問題作成</h1>
<p>問題作成は問題一覧画面の「問題新規作成」ボタンから行います．</p>
<%= image_tag 'help/teacher_question_create_1.png', :class => 'help-image' %>

<h3>問題作成画面です．</h3>
<%= image_tag 'help/teacher_question_create_2.png', :class => 'help-image' %>
<br>
<br>
<%= image_tag 'help/teacher_question_create_3.png', :class => 'help-image' %>

<h4>各項目について</h4>
<ul>
  <li>問題の参照: 自分の作成した問題およびパブリック問題を参照して問題を作成できます．その場合は一部の項目は変更できません．</li>
  <li>タイトル: 問題の名前です．</li>
  <li>内容: 問題の説明です．</li>
  <li>入力説明: 入力するデータの説明です．スペースやタブ文字等の表記の揺れが無いように注意してください．</li>
  <li>出力説明: 出力結果の説明です．出力結果とテストデータとの完全一致で判定を行うためスペースやタブ文字等の表記の揺れが無いように注意してください．</li>
  <li>WEB剽窃チェック用キーワード: WEB剽窃チェックを行う際に利用するキーワードです．問題と関連するキーワードを入力してください．関連性の高いキーワードを入力すると関連のあるWebページを検出する場合があります．</li>
    <ul>
      <li style="color:red">注意: WEB剽窃チェックを利用するにはシステム管理者によって機能が有効になっている必要があります．</li>
    </ul>
  <li>開始と終了時間: 問題の解答開始時間と終了時間です．期間外は解答できません．</li>
  <li>入出力サンプル: 学生に表示する，問題に対する入力データと出力結果のサンプルです．スペースやタブ文字等の表記の揺れが無いように注意してください．</li>
  <li>解答用データ: 解答のテストデータです．入力データと出力結果が1対1となるファイルをアップロードしてください．出力結果とテストデータの完全一致で判定を行うためスペースやタブ文字等の表記の揺れが無いように注意してください．解答用データは学生に表示されません．</li>
  <li>時間制限: 問題の解答に利用できるCPU時間の最大値です．(システム管理者により，上限は制限されている場合があります．)</li>
  <li>メモリ制限: 問題の解答に利用できるメモリの最大値です．(システム管理者により，上限は制限されている場合があります．)</li>
</ul>
<br>
<h4>問題の詳細画面から問題の編集が行えます．</h4>
