<h1>授業作成</h1>
<h3>授業を新規する</h3>
<p>ログイン後の画面の「授業作成」ボタンから行います．</p>
<%= image_tag 'help/teacher_lesson_create_1.png', :class => 'help-image' %>
<p>(1)授業新規作成ページで授業名と授業の説明を入力し、登録する。</p>
<p>(2)授業名が必要になる。</p>
<p>(3)授業を作成した後、授業のホームページにリンクする。</p>
<h3>授業を編集する</h3>
<p>授業のホームタブしたの「編集」ボタンから行います．</p>
<%= image_tag 'help/teacher_lesson_create_2.png', :class => 'help-image' %>
<p>(1)授業名と授業の説明を編集し、登録する</p>
<p>(2)授業担当教員、授業コードの変更ができない。</p>
<p>(3)授業を編集した後、授業のホームページにリンクする。</p>
<h3>授業を非公開する</h3>
<p>授業のホームタブしたの「非公開」ボタンから行います．</p>
<%= image_tag 'help/teacher_lesson_create_3.png', :class => 'help-image' %>
<p>(1)非公開授業は公開授業のしたに表示する</p>
<p>(2)非公開授業は学生に表示されません。再公開したい場合は、システム管理者に連絡してください。</p>