<h1>Web剽窃チェック</h1>
<h3>問題のWeb剽窃チェック用のキーワードを作成</h3>
<p>Web剽窃チェック機能を利用する場合，問題作成する時にWeb剽窃チェック用のキーワードの作成が必要です．</p>
<%= image_tag 'help/teacher_web_plagiarism_1.png' , :class => 'help-image' %>
<br>

<h3>Web剽窃チェック</h3>
<p>最新の解答について，「チェック」ボタンを押すことでWeb剽窃チェックを行います．</p>
<%= image_tag 'help/teacher_web_plagiarism_2.png' , :class => 'help-image' %>
<p>「表示」ボタンが表示されたら，結果を確認できます．</p>
<br>

<h3>全体のWeb剽窃チェック</h3>
<p>その問題のすべての最新の解答についてWeb剽窃チェックを行います．</p>
<%= image_tag 'help/teacher_web_plagiarism_3.png' , :class => 'help-image' %>
<br>

<h3>Web剽窃チェックの結果</h3>
<p>Web剽窃チェックの結果の例を下図に示します．</p>
<%= image_tag 'help/teacher_web_plagiarism_4.png' , :class => 'help-image' %>
<p style="color:red">Web剽窃チェックの結果は解答と関連するWebページを教員に表示するだけであり，学生が剽窃していることを断定するものではありません．</p>
<p>Web剽窃チェックの結果には，関連ページのタイトル，URL，検出された回数および一部内容を表示します．</p>
<p>検出された回数は検出アルゴリズムでの検出回数であり，最大5回であり数値が高いほうが関連する可能性が高くなります．</p>
<p>解答に関連するWebページを検出できない場合，Web剽窃チェック用のキーワードを変更すると検出できる可能性があります．</p>
