<h1>授業作成</h1>
<h3>授業を新規作成する</h3>
<p>ホーム画面の「授業作成」ボタンから行います．</p>
<%= image_tag 'help/teacher_lesson_create_1.png', :class => 'help-image' %>
<p>授業新規作成画面で授業名と授業の説明を入力し登録ボタンを押すことで授業が作成できます．</p>
<p>作成後，授業ページの授業コードを学生に通知して授業に参加してもらいます．</p>

<h3>授業を編集する</h3>
<p>授業ページの「編集」ボタンから行います．</p>
<%= image_tag 'help/teacher_lesson_create_2.png', :class => 'help-image' %>
<p>授業名と授業の説明を編集できます．</p>
<p>担当教員，授業コードは変更できません．</p>

<h3>授業を非公開にする</h3>
<p>授業のホームタブしたの「非公開」ボタンから行います．</p>
<%= image_tag 'help/teacher_lesson_create_3.png', :class => 'help-image' %>
<p style="color:red">非公開にした授業は学生には表示されなくなります．再公開したい場合は，システム管理者に連絡してください．</p>
