<h1>解答閲覧</h1>

<p>解答状況閲覧画面から特定の学生の特定の問題に対する解答を閲覧できます。</p>

<%= image_tag 'help/teacher_view_answer_0.png', :class => 'help-image' %>

<p>(1)提出したソースコードの評価結果を閲覧できます。</p>
<p>(2)各バージョンのファイル名をクリックすると、表示内容を変更します。</p>
<p>(3)比較バージョンを選択すると、２つのバージョンを比較して差分を表示することができます。</p>