<h1>解答状況閲覧</h1>
<h3>問題詳細画面から解答状況を確認する</h3>
<%= image_tag 'help/teacher_view_result_1.png' , :class => 'help-image' %>
<p>その問題に対して，すべての学生の解答状況を見ることができます．学生の学籍番号またはニックネームをクリックすると解答詳細を見ることができます．</p>
<p>また，ローカル剽窃チェックの結果とWeb剽窃チェックを利用できます．</p>

<h3>学生一覧画面から解答状況を確認する。</h3>
<%= image_tag 'help/teacher_view_result_2.png' , :class => 'help-image' %>
<p>学生一覧画面から学生をクリックするとすべての問題の解答結果を閲覧できます。</p>
