<h1>Web剽窃チェック</h1>
<h3>問題のWeb剽窃チェック用のキーワードを作成</h3>
<p>Web剽窃チェック機能を利用する場合、問題作成する時、Web剽窃チェック用のキーワードの作成が必要です</p>
<%= image_tag 'help/teacher_web_plagiarism_1.png' , :class => 'help-image' %>
<br>
<h3>個別の剽窃チェック</h3>
<p>個別の解答について、Web剽窃チェックを行います。</p>
<%= image_tag 'help/teacher_web_plagiarism_2.png' , :class => 'help-image' %>
<p>「表示」ボタンが表示したら、結果を確認できます。</p>
<br>
<h3>全体の剽窃チェック</h3>
<p>授業にある問題について、全ての解答がWeb剽窃チェックを行います。</p>
<%= image_tag 'help/teacher_web_plagiarism_3.png' , :class => 'help-image' %>
<br>
<h3>剽窃チェックの結果</h3>
<p>剽窃の結果は下図に示します。</p>
<%= image_tag 'help/teacher_web_plagiarism_4.png' , :class => 'help-image' %>
<p>(1)剽窃の結果は学生の解答がWebから剽窃しているかとうか判断しません。本システムでは、解答と関連あるページを教員に表示するだけです。</p>
<p>(2)解答に関連するページを検出する場合、関連ページのタイトル、リンク、検出された回数、一部内容を表示します。回数が５の場合、該当ページに解答ソースコードを含まる可能性が高いです。</p>
<p>(3)解答に関連するページを検出できない場合、Web剽窃チェック用のキーワードを変更したら、解答に関連するページを検出する可能になります。</p>