<h1>ローカル剽窃チェック</h1>
<p>ローカル剽窃チェックは，学生同士で類似した解答を提出しているかどうかをチェックします．学生が解答を提出すると自動実行されます．</p>

<h3>学生同士の類似度</h3>
<%= image_tag 'help/teacher_local_plagiarism_0.png', :class => 'help-image' %>

<p>学生同士の類似度は、解答状況閲覧画面の右に表示されます。</p>
<ul>
  <li>チェック対象は、同じ問題のすべての学生の最新の評価が"Accept"となる10行以上の解答です。</li>
  <li>類似ファイルが検出できない場合、類似度は"0.0%"と表示します。</li>
  <li>類似ファイルが検出できた場合、類似度の一番高い解答について表示します。</li>
</ul>

<h3>剽窃チェック結果の確認</h3>
<%= image_tag 'help/teacher_local_plagiarism_1.png', :class => 'help-image' %>
<p>「内容を確認」ボタンクリックすると、ローカル剽窃チェック結果の画面が表示されます．</p>
<ul>
  <li>類似ファイルが検出できた場合、類似度の一番高い解答との比較を表示します。</li>
  <li>左側は選択した学生の解答であり、右側は類似度の高い学生の解答です．</li>
  <li>色のついた部分は類似していると判定した部分です．</li>
</ul>
