<h1>解答閲覧</h1>

<p>解答状況閲覧画面から特定の学生の特定の問題に対する解答を閲覧できます．</p>

<%= image_tag 'help/teacher_view_answer_0.png', :class => 'help-image' %>

<p>各学生の解答の評価結果を閲覧できます．</p>
<p>各バージョンをクリックするとその内容が表示されます．</p>
<p>比較したいバージョンを選択すると，２つのバージョンを比較して差分を表示することができます．</p>
