<h1>ローカル剽窃チェック</h1>
<p>ローカル剽窃チェックは、学生が解答を提出し、その解答の評価が"Accept"になる時、自動的に行いました。</p>

<h3>学生同士の類似度</h3>
<%= image_tag 'help/teacher_local_plagiarism_0.png', :class => 'help-image' %>

<p>学生同士の類似度は、解答状況閲覧画面の右に表示します。</p>
<ul>
  <li>チェック対象は、同じ問題の全て学生の最新の評価が"Accept"となる10行以上の解答です。</li>
  <li>類似ファイルが検出できない場合、類似度は"0.0%"と表示します。</li>
  <li>類似ファイルが検出できた場合、類似度は一番高いとして検出したファイルの類似度を表示します。</li>
</ul>

<h3>剽窃チェック結果の確認</h3>
<%= image_tag 'help/teacher_local_plagiarism_1.png', :class => 'help-image' %>
<p>学生同士の類似度数字をクリックすると、ローカル剽窃チェック結果の画面が表示します。</p>
<ul>
  <li>類似ファイルが検出できない場合、結果は"類似ファイルが検出できません"と表示します。</li>
  <li>類似ファイルが検出できた場合、類似度は一番高いとして検出したファイルとの比較を表示します。</li>
  <li>左側は目標解答の詳細情報、右側は検出した解答の詳細情報を表示します。</li>
  <li>両側のソースコードが同じ色にマークした部分は対応の剽窃として検出した部分で、色がついてない部分は剽窃ではない部分です。</li>
</ul>