<h1>解答状況閲覧</h1>
<h3>問題詳細ページから解答状況を確認する</h3>
<%= image_tag 'help/teacher_view_result_1.png' , :class => 'help-image' %>
<p>(1)該当問題について、全ての学生の提出時間、解答結果、実行時間、メモリ使用量、使用言語、学生同士の類似度を閲覧できる。また、各解答について、Web剽窃チェクが行えます。</p>
<p>(2)解答提出した学生の学籍番号とニックネームをクリックし、解答詳細を閲覧できる。</p>
<h3>学生一覧ページから解答状況を確認する。</h3>
<%= image_tag 'help/teacher_view_result_2.png' , :class => 'help-image' %>
<p>(1)授業に参加している学生の全ての問題の解答結果を閲覧できます。成績では、正解の問題の割合を表示します。</p>
<p>(2)学生の学籍番号をクリックし、該当学生の各問題の解答詳細を閲覧できます。</p>