<h1>ユーザ新規登録</h1>

<h3>ユーザ新規登録画面です．</h3>
<%= image_tag 'help/user_create_1.png', :class => 'help-image' %>
<h4>各項目について</h4>
<ul>
  <li>学籍番号: 大学等で使用している識別用の番号を入力してください．</li>
  <li>名前: 本名等，教員に表示する名前を入力してください．他の学生には公開されません．</li>
  <li>ニックネーム: ニックネームを入力してください．</li>
  <li>メールアドレス: メールアドレスを入力してください．ログイン時に利用します．</li>
  <li>パスワード: パスワードを入力してください．</li>
</ul>
<h4>メールアドレス等の変更はシステム管理者に問い合わせてください．</h4>
