<div>
  <div>
    <% @title = '問題作成' %>
    <h1><%= @title %></h1>
  </div>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-md-2 control-label">タイトル</label>
      <div class="col-md-8">
        <input class="form-control" id="TitleInput" type="text" >
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">開始時間</label>
      <div class="col-md-4">
        <input class="form-control" id="Starttime" type="text" >
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">終了時間</label>
      <div class="col-md-4">
        <input class="form-control" id="Closetime" type="text" >
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">内容</label>
      <div class="col-md-8">
        <textarea class="form-control" id="Questioncontent" cols="45" rows="8" ></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">入力説明</label>
      <div class="col-md-8">
        <textarea class="form-control" id="Inputexplain" cols="45" rows="4" ></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">出力説明</label>
      <div class="col-md-8">
        <textarea class="form-control" id="Outputexplain" cols="45" rows="4" ></textarea>
      </div>
    </div>
    <div id="testplus" class="form-group">
      <label class="col-md-2 control-label">入力サンプル</label>
      <div class="col-md-6">
        <textarea class="form-control" id="Inputexample" cols="45" rows="4" ></textarea>
      </div>
      <div class="col-md-2">
        <a id="addtext" class="btn btn-default" href="#" role="button">追加</a>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">出力サンプル</label>
      <div class="col-md-8">
        <textarea class="form-control" id="Outputexample" cols="45" rows="4" ></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">解答用の入力，出力</label>
      <div class="col-md-8">
        <textarea class="form-control" id="Answerexample" cols="45" rows="4" ></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">制限時間</label>
      <div class="col-md-4">
        <input class="form-control" id="Limittime" type="text" >
      </div>
      <div class="col-md-1"><span>秒</span></div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">メモリ使用量</label>
      <div class="col-md-4">
        <input class="form-control" id="Limitmemory" type="text" >
      </div>
      <div class="col-md-1"><span>MB</span></div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">CPU使用率</label>
      <div class="col-md-4">
        <input class="form-control" id="LimitCPU" type="text" >
      </div>
      <div class="col-md-1"><span>％</span></div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-5 ">
        <button type="submit" class="btn btn-primary btn-lg">作成</button>
        <button type="submit" class="btn btn-danger btn-lg">取消</button>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
  $(function(){
      var i = 2 ;
      $('#addtext').click(function(){
          if(i<4){
              $('testplus').after('<div><input type="text"></div>')
          }
      })

  });
</script>
