<h2>学生一覧</h2>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <tr>
      <th>学籍番号</th>
      <th>氏名</th>
      <th>成績</th>
    </tr>
    <% @students.each do |student| %>
        <tr>
          <td><%= link_to student.student_number , student_lessons_path( :lesson_id => params[:lesson_id] , :student_num => student.student_number),
                                                  :method => "POST",
                                                  :remote => true  %></td>
          <td><%= student.name %></td>
          <td> - </td>
        </tr>
    <% end %>
  </table>
</div>
