<h2>授業参加</h2>

<%= form_tag('/lessons/join') do %>
  <div class="field">
    <%= label_tag :lesson_code, "授業コード" %><br />
    <%= text_field_tag :lesson_code %>
  </div>

  <div class="actions">
    <%= submit_tag "参加" %>
  </div>
<% end %>
