body {
    padding-top: 60px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-fixed-top {
    border: 0;
}

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.workzone {
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}

.logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
}
