.hero-unit {
    width:700px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 1px solid #000000;
    border-radius: 6px;
    word-wrap: break-word;
    word-break: break-all;
}
.lesson-new{
    width:700px;
    margin-right: auto;
    margin-left: auto;
}

.test_fancybox{

}
.intnet-check-results-css {
    display: none
}
.draw_fancybox{
    visibility: hidden;
}