.hero-unit {
    width:700px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #c8e3ee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.lesson-new{
    width:700px;
    margin-right: auto;
    margin-left: auto;
}