// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.field_question{
  margin-top: 10px;
  width: 75%;
  padding: 10px;
}

.datepicket1{
}
.datepicket2{
}
.inputnote{
  padding:2px;
  color: #ff0220;
  font-size: 14px;
  vertical-align:middle;
  margin-top:4px;
}
.btn_submit{
  margin-top:4px;
}

