// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.field_question{
  margin-top: 10px;
  width: 75%;
  padding: 10px;
}

.datepicket1{
}
.datepicket2{
}
.inputnote{
  padding:2px;
  color: #ff0220;
  font-size: 14px;
  vertical-align:middle;
  margin-top:4px;
}
.btn_submit{
  margin-top:4px;
}
.btn_top{
  position: relative;
  margin-top : 10px;
}
.btn-right{
  position: relative;
  float:right;
}
.text-area-css1{
  width:100%;
  resize: vertical;
}
.text-area-css2{
  width:45%;
  resize: vertical
}