// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.field_question{
  margin-top: 10px;
  width: 75%;
  border: 1px solid #000;
  padding: 10px;
}

.datepicket1{
}
.datepicket2{
}