<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#tab1" data-toggle="tab">ホーム</a></li>
  <li role="presentation"><a href="#tab2" data-toggle="tab">問題</a></li>
  <li role="presentation"><a href="#tab3" data-toggle="tab">学生</a></li>
</ul>
